@font-face {
  font-family: kidsfont;
  src: url(Trace-lxy0.ttf);
}

body {
  margin: 30px;
}

.header {
    font-size: 200%;
    font-weight: bold;
}

.control {
  padding: 15px;
}

.wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-row-gap: 10px;
  grid-column-gap: 90px;

}

.box {
  border-radius: 5px;
  padding: 15px;
  font-size: 150%;
  background-color: #fea
}

.clockbox {
  border-radius: 5px;
  padding: 15px;
  font-size: 150%;
  background-color: #fea;
  grid-row-end: span 3;
  grid-column-end: span 1;
}

.result {
    color: #aaa;
    display: none
}

.letterbox {
  border-radius: 5px;
  padding: 15px;
  font-size: 150%;
  background-color: #fea;
  grid-row-end: span 2;
  grid-column-end: span 1;
}

.spiralbox {
  border-radius: 5px;
  padding: 15px;
  font-size: 150%;
  background-color: #fea;
  grid-row-end: span 2;
  grid-column-end: span 1;
}

.kidstext {
    font-family: kidsfont;
    font-size: 700%;
}
