@font-face {
  font-family: kidsfont;
  src: url(Trace-lxy0.ttf);
}

body {
  margin: 30px;
}

.header {
    font-size: 200%;
    font-weight: bold;
}

.control {
  padding: 15px;
}

.wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-row-gap: 10px;
  grid-column-gap: 90px;
  align-items: center;

}


.box {
  border-radius: 5px;
  padding: 2px;
  font-size: 150%;
  background-color: #fea;
  height: 6vh;
}

.canvasbox {
  border-radius: 5px;
  padding: 2px;
  font-size: 150%;
  background-color: #fea;
  grid-row-end: span 4;
  grid-column-end: span 1;
  height:400px;
}

.flexbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.letterbox {
  border-radius: 5px;
  padding: 2px;
  font-size: 150%;
  background-color: #fea;
  grid-row-end: span 2;
  grid-column-end: span 1;
}

.order {
    font-size: 120%;
    font-weight: 700; /* bold */
}

.result {
    color: #aaa;
    display: none;
}


.kidstext {
    font-family: kidsfont;
    font-size: 700%;
}
